---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import LinkedIn from "../components/icons/LinkedIn.astro";
import Github from "../components/icons/Github.astro";
import SocialPill from "../components/icons/SocialPill.astro";
import Mail from "../components/icons/Mail.astro";
import Experience from "../components/Experience.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Briefcase from "../components/icons/Briefcase.astro";
import Code from "../components/icons/Code.astro";
import Projects from "../components/Projects.astro";
import About from "../components/About.astro";
import Profile from "../components/icons/Profile.astro";
import Cv from "../components/icons/Cv.astro";
import Book from "../components/icons/Book.astro";
import Estudios from "../components/Estudios.astro";
---

<script>
  // Efecto maquina de escribir para el titulo
  const typewriterElements = document.querySelectorAll(".typewriter");
  typewriterElements.forEach((element) => {
    const text = element.textContent;
    let index = 0;

    const typeCharacter = () => {
      element.textContent = text!.slice(0, index + 1);
      index++;

      if (index < text!.length) {
        setTimeout(typeCharacter, 75);
      }
    };

    // Start typing
    typeCharacter();
  });

  //Funcion para descargar la hoja de vida:
  const btnDescargar = document.getElementById("descargar-cv");

  btnDescargar?.addEventListener("click", () => {
    const cvUrl = "projects/pdf/Juan_Duarte_CV.pdf";
    window.open(cvUrl, "Juan_Duarte_CV.pdf");
  });
</script>

<Layout
  title="Juan Duarte - Desarrollador Web"
  description="Contacta conmigo para ser parte de tu equipo de trabajo."
>
  <main class="px-4">
    <SectionContainer id="contacto" class="py-20 pb-20">
      <!-- IMAGEN Y TITULO -->
      <img
        class="rounded-full size-40 mb-4"
        src="https://media.licdn.com/dms/image/D4E03AQH9tMhL1l8vVQ/profile-displayphoto-shrink_800_800/0/1690678393403?e=1709164800&v=beta&t=Z3o6BNtsfDeEsoZ3UNVUq1oqM_ijGdcrT-ZK4OWsirM"
        alt="Foto de Juan"
      />

      <h1
        class="text-3xl md:text-4xl lg:text-5xl text-white font-bold flex flex-row gap-x-4 typewriter"
      >
        Juan David Duarte
      </h1>

      <div class="pb-10 pt-2">
        <a href="https://linkedin.com/in/devjuanduarte" target="_blank"
          ><Badge>Disponible</Badge></a
        >
      </div>

      <!-- INFORMACION -->
      <h2 class="text-xl lg:text-2xl text-wrap max-w[700px]">
        <div>
          <span class="text-blue-500"
            >Tecnólogo en Análisis y Desarrollo de Sistemas de Información.</span>
        </div>
        <div>
          <!-- <span class="text-blue-200/90">+1 año de experiencia</span> -->
        </div>
        <div>
          <span class="text-white">Bucaramanga, Colombia.</span>
        </div>
      </h2>

      <!-- REDES -->
      <nav class="text-white flex flex-wrap gap-2 mt-8 mx-auto">
        <SocialPill
          href="https://linkedin.com/in/devjuanduarte"
          target="_blank"
        >
          <LinkedIn class="size-4 md:size-6" /> LinkedIn
        </SocialPill>

        <SocialPill href="https://github.com/DevJuanDuarte" target="_blank">
          <Github class="size-4 md:size-6" /> Github
        </SocialPill>

        <div class="lg:mx-2">
          <SocialPill href="mailto:juan.devcontact@gmail.com">
            <Mail class="size-4 md:size-7" /> juan.devcontact@gmail.com
          </SocialPill>
        </div>

        <div class="cursor-pointer">
          <SocialPill id="descargar-cv">
            <Cv class="size-4 md:size-6" /> Ver CV
          </SocialPill>
        </div>
      </nav>
    </SectionContainer>

    <!-- EXPERIENCIA LABORAL -->
    <SectionContainer id="experiencia">
      <h2
        class="text-white text-3xl lg:text-4xl font-semi-bold mb-5 flex gap-x-3 items-center"
      >
        <Briefcase class="size-7" /> Experiencia Laboral
      </h2>
      <Experience />
    </SectionContainer>

    <!-- SOBRE MI -->
    <SectionContainer id="sobre-mi" class="py-10 pb-10">
      <h2
        class="text-white text-3xl lg:text-4xl font-semi-bold mb-5 flex gap-x-3 items-center"
      >
        <Profile class="size-7" /> Sobre mí
      </h2>
      <About />
    </SectionContainer>

    <!-- PROYECTOS -->
    <SectionContainer id="proyectos" class="py-10 pb-10">
      <h2
        class="text-white text-3xl lg:text-4xl font-semi-bold mb-5 flex gap-x-3 items-center"
      >
        <Code class="size-7" /> Proyectos
      </h2>

      <div class="lg:flex justify-center">
        <Projects />
      </div>
    </SectionContainer>


    <!-- ESTUDIOS -->
    <SectionContainer id="estudios">
      <h2
        class="text-white text-3xl lg:text-4xl font-semi-bold mb-5 flex gap-x-3 items-center"
      >
        <Book class="size-7" /> Estudios
      </h2>
      <Estudios />
    </SectionContainer>

  </main>
</Layout>
