---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import LinkedIn from "../components/icons/LinkedIn.astro";
import Github from "../components/icons/Github.astro";
import SocialPill from "../components/icons/SocialPill.astro";
import Mail from "../components/icons/Mail.astro";
import Experience from "../components/Experience.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Briefcase from "../components/icons/Briefcase.astro";
import Code from "../components/icons/Code.astro";
import Projects from "../components/Projects.astro";
import About from "../components/About.astro";
import Profile from "../components/icons/Profile.astro";
import Cv from "../components/icons/Cv.astro";
import Book from "../components/icons/Book.astro";
import Estudios from "../components/Estudios.astro";
import WhatsApp from "../components/icons/WhatsApp.astro";
import Cursos from "../components/Cursos.astro";
---

<script>

  //Efecto maquina de escribir
  const typewriterContainer = document.createElement("div");
  typewriterContainer.style.height = "1.5em";
  typewriterContainer.style.display = "flex";
  typewriterContainer.style.alignItems = "center";

  const typewriterElements = document.querySelectorAll(".typewriter");
  typewriterElements.forEach((element) => {
    // Envolvemos el elemento original en el contenedor
    element.parentNode?.insertBefore(typewriterContainer, element);
    typewriterContainer.appendChild(element);

    const phrases = [
      "+2 años de experiencia",
    ];

    let phraseIndex = 0;
    let charIndex = 0;
    let isDeleting = false;

    const typeCharacter = () => {
      const currentPhrase = phrases[phraseIndex];

      // Si hemos llegado al final de todas las frases, nos detenemos
      if (
        phraseIndex === phrases.length - 1 &&
        charIndex === currentPhrase.length
      ) {
        return; // Esta línea detiene la recursión
      }

      if (!isDeleting) {
        element.textContent = currentPhrase.slice(0, charIndex + 1);
        charIndex++;

        if (charIndex === currentPhrase.length) {
          // Si no es la última frase, procedemos a borrar
          if (phraseIndex < phrases.length - 1) {
            isDeleting = true;
            setTimeout(typeCharacter, 1500);
            return;
          }
        }
      } else {
        element.textContent = currentPhrase.slice(0, charIndex - 1);
        charIndex--;

        if (charIndex === 0) {
          isDeleting = false;
          phraseIndex++;
        }
      }

      const speed = isDeleting ? 50 : 100;
      setTimeout(typeCharacter, speed);
    };

    typeCharacter();
  });

  //Descargar la hoja de vida:
  const btnDescargar = document.getElementById("descargar-cv");
  btnDescargar?.addEventListener("click", () => {
    const cvUrl = "projects/pdf/JuanDavidDuarteHernandezCV.pdf";
    window.open(cvUrl, "Juan_Duarte_CV.pdf");
  });
</script>

<Layout
  title="Juan David - Desarrollador Full Stack"
  description="Contacta conmigo para ser parte de tu equipo de trabajo."
>
  <main class="px-4">
    <SectionContainer id="contacto" class="py-20 pb-20">
      <!-- IMAGEN Y TITULO -->
      <img
        class="rounded-full size-40 mb-4"
        src="/images/linkedin_profile.jpeg"
        alt="Foto de Juan"
      />

      <h1
        class="text-3xl md:text-4xl lg:text-5xl text-white font-bold flex flex-row gap-x-4"
      >
        Juan David Duarte
      </h1>

      <div class="pb-10 pt-2">
        <a href="https://linkedin.com/in/devjuanduarte" target="_blank"
          ><Badge>Disponible</Badge></a
        >
      </div>

      <!-- INFORMACION -->
      <h2 class="text-xl lg:text-2xl text-wrap max-w[700px]">
        <div>
          <span class="text-blue-500">Desarrollador Full Stack</span>
        </div>
        <div>
          <span class="text-blue-200/90 typewriter"></span>
        </div>
        <div>
          <span class="text-white">Bucaramanga, Colombia.</span>
        </div>
      </h2>

      <!-- REDES -->
      <nav class="text-white flex flex-wrap gap-2 mt-8 mx-auto">
        <SocialPill id="descargar-cv">
          <Cv class="size-4 md:size-6 cursor-pointer" /> Ver CV
        </SocialPill>

        <SocialPill
          href="https://linkedin.com/in/devjuanduarte"
          target="_blank"
        >
          <LinkedIn class="size-4 md:size-6" /> LinkedIn
        </SocialPill>

        <SocialPill href="https://wa.me/573027342616">
          <WhatsApp class="size-4 md:size-7" /> WhatsApp
        </SocialPill>

        <SocialPill href="mailto:juan.devcontact@gmail.com">
          <Mail class="size-4 md:size-7" /> Email
        </SocialPill>

        <SocialPill href="https://github.com/DevJuanDuarte" target="_blank">
          <Github class="size-4 md:size-6" /> Github
        </SocialPill>
      </nav>
    </SectionContainer>

    <!-- EXPERIENCIA LABORAL -->
    <SectionContainer id="experiencia">
      <h2
        class="text-white text-3xl lg:text-4xl font-semi-bold mb-5 flex gap-x-3 items-center"
      >
        <Briefcase class="size-7" /> Experiencia Laboral
      </h2>
      <Experience />
    </SectionContainer>

    <!-- SOBRE MI -->
    <SectionContainer id="sobre-mi" class="py-10 pb-10">
      <h2
        class="text-white text-3xl lg:text-4xl font-semi-bold mb-5 flex gap-x-3 items-center"
      >
        <Profile class="size-7" /> Sobre mí
      </h2>
      <About />
    </SectionContainer>

    <!-- PROYECTOS -->
    <SectionContainer id="proyectos" class="py-10 pb-10">
      <h2
        class="text-white text-3xl lg:text-4xl font-semi-bold mb-5 flex gap-x-3 items-center"
      >
        <Code class="size-7" /> Proyectos
      </h2>

      <div class="grid grid-cols-1 lg:grid-cols-1 justify-center">
        <Projects />
      </div>
    </SectionContainer>

    <!-- ESTUDIOS -->
    <SectionContainer id="estudios">
      <h2
        class="text-white text-3xl lg:text-4xl font-semi-bold mb-5 flex gap-x-3 items-center"
      >
        <Book class="size-7" /> Estudios
      </h2>
      <Estudios />
    </SectionContainer>

    <!-- CURSOS -->
    <SectionContainer id="estudios">
      <h2
        class="text-white text-3xl lg:text-4xl font-semi-bold mb-5 flex gap-x-3 items-center"
      >
        <Book class="size-7" /> Cursos
      </h2>
      <Cursos />
    </SectionContainer>
  </main>
</Layout>
