---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCE = [
  {
    date:'Abril del 2023 - Agosto del 2024',
    title:'Desarrollador Full Stack - CulturaSoft S.A.S',
    description:'Participé en el mantenimiento y refactorización de métodos y consultas para mejorar el rendimiento en proyectos nativos con PHP 7.4 y JavaScript, logrando tiempos de respuesta hasta un 50% más rápido. Manejé bases de datos con PostgreSQL y MySQL, optimizando consultas y estructuras de tablas para un mejor rendimiento. Brindé soporte técnico, resolviendo problemas y mejorando la estabilidad de los sistemas para asegurar una experiencia de usuario óptima. Construí módulos dinámicos en nuevos proyectos con Angular conectándose sin problemas con APIs en PHP con el framework de Slim. Desarrollé nuevas APIS desde cero con Golang, demostrando mi versatilidad y capacidad para adaptarme a diferentes lenguajes de programación. Colaboré mediante Azure DevOps para la gestión ágil del proyecto, incluyendo el seguimiento de tareas, planificación de sprints y colaboración en equipo.',
    // link:'#'
  },
  {
    date:'Noviembre del 2021 - Septiembre del 2022',
    title:'Auxiliar Documental de Analista de Datos - Asmet Salud EPS',
    description:'Participé en la reingeniería de la base de datos de la empresa migrando la base de datos de Excel a MySQL y brindar soporte técnico y documental en el sector de Riesgos y Contratación.',
    // link:'#'
  }
]
---


<ol class="relative border-s border-gray-200 ml-3.5">
  {
    EXPERIENCE.map(experience => (
    <li class="mb-10 ms-4">
      <ExperienceItem {...experience}/>  
    </li>
    ))
  }
</ol>


