---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCE = [
  {
    date:'Abril del 2023 - Agosto del 2024',
    title:'Desarrollador Full Stack - CulturaSoft S.A.S',
    description:'Brindar soporte a proyectos existentes y contribuir en la creación de nuevas iniciativas usando Angular, Golang bajo el framework Fiber, PHP 7.4 y 8.2 bajo el framework Slim,  PostgreSQL y MySQL, aplicando mis habilidades para optimizar y fortalecer la infraestructura backend. Mi involucramiento en la metodología ágil a través de Azure DevOps me permitió participar en sprints de desarrollo, donde se me asignaban tareas especificas para garantizar la entrega efectiva de soluciones.',
    // link:'#'
  },
  {
    date:'Noviembre del 2021 - Septiembre del 2022',
    title:'Auxiliar Documental de Analista de Datos - Asmet Salud EPS',
    description:'Participé en la reingeniería de la base de datos de la empresa migrando la base de datos de Excel a MySQL y brindar soporte técnico y documental en el sector de Riesgos y Contratación . ',
    // link:'#'
  }
]
---


<ol class="relative border-s border-gray-200 ml-3.5">
  {
    EXPERIENCE.map(experience => (
    <li class="mb-10 ms-4">
      <ExperienceItem {...experience}/>  
    </li>
    ))
  }
</ol>


