<header class="flex justify-center items-center py-5 w-[1120px] mx-auto">
  <span></span>

  <nav class="flex flex-row gap-x-10 opacity-80">
    <a href="/">Inicio</a>
    <a href="/about">Acerca de mí</a>
    <a href="/projects">Experiencia</a>
    <a href="/contact">Contacto</a>
  </nav>
</header>
